---
- name: "Remove existing quadlet files"
  become: true
  ansible.builtin.file:
    dest: "{{ pm_rootless_ctr_dir }}/it-tools.container"
    state: absent

- name: "Copy quadlet files into quadlet directory"
  become: true
  ansible.builtin.copy:
    src: ittools.container
    dest: "{{ pm_rootless_ctr_dir }}/it-tools.container"
  notify: reload-systemd
