[unit]
Description=it-tools collection
After=network-online.target

[Container]
ContainerName=it-tools
Image=corentinth/it-tools:latest
PublishPort=8282:80
AutoUpdate=registry

[Install]
WantedBy=default.target
