export RESTIC_REPOSITORY="/home/noah/dev/system-scripts/restic-backup-dev/test-repo"
export RESTIC_PASSWORD="12345"
export RESTIC_CACHE="~/.cache/restic"

readonly PATHS_TO_BACKUP=(

)

readonly KEEP_DAILY={{ restic_keep_daily }}
readonly KEEP_WEEKLY={{ restic_keep_weekly }}
readonly KEEP_MONTHLY={{ restic_keep_monthly }}
readonly KEEP_YEARLY={{ restic_keep_yearly }}

readonly CHECK_SUBSET={{ restic_check_subset }}

