export RESTIC_REPOSITORY="{{ restic_AWS_ENDPOINT }}"
export AWS_ACCESS_KEY_ID="{{ restic_AWS_ACCESS_KEY }}"
export AWS_SECRET_ACCESS_KEY="{{ restic_AWS_SECRET }}"
export RESTIC_PASSWORD="{{ restic_b2_pw }}"
export RESTIC_CACHE="{{ restic_cache }}"

# Healthchecks.io ping URLs
readonly HEALTHCHECK_PRE_URL="{{ restic_healthcheck_start }}"
readonly HEALTHCHECK_POST_URL="{{ restic_healthcheck_end }}"

readonly PATHS_TO_BACKUP=(
{{ restic_backup_targets }}
)

# Retention policy
readonly KEEP_DAILY={{ restic_keep_daily }}
readonly KEEP_WEEKLY={{ restic_keep_weekly }}
readonly KEEP_MONTHLY={{ restic_keep_monthly }}
readonly KEEP_YEARLY={{ restic_keep_yearly }}

# Check subset - the amount of random files restic will verify during backups - in GB
readonly CHECK_SUBSET_G={{ check_subset_g }}





