---
- name: "Installing cockpit on RHEL-based systems"
  become: true
  ansible.builtin.dnf:
    name: cockpit
    state: present
  when: ansible_facts['os_family'] == "RedHat"

- name: "Installing cockpit on Debian-based systems | Installing cockpit"
  become: true
  ansible.builtin.apt:
    name: cockpit
    state: present
  when: ansible_facts['os_family'] == "Debian"

- name: "Allow port on firewalld"
  become: true
  ansible.posix.firewalld:
    zone: public
    port: "{{ cockpit_port }}/tcp"
    permanent: true
    state: enabled
  notify: 
    - reload-firewalld



